.section_first {
    .section_left {

        .left_categories {
            h4 {
                font-size: 14px;
                margin-bottom: 20px;
                font-weight: bold;
            }

            .categories {
                .ul_categories {
                    padding: 0;
                    color: #71778E;

                    li {
                        margin: 5px 0;

                        a {

                            color: #71778E;
                        }

                        .categ_down {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                        }

                        .ul_beverages,
                        .ul_breads,
                        .ul_fruits,
                        .ul_meats,
                        .ul_breakfast {
                            display: none;
                            color: #71778E;
                        }

                    }
                }
            }

            .filter {
                .filterbar {}
            }

            .status {
                ul {
                    padding: 0;

                    li {
                        margin: 5px 0;

                        a {
                            color: #71778E;
                        }
                    }

                }
            }

            .brands {
                ul {
                    padding: 0;

                    li {
                        margin: 5px 0;

                        a {
                            color: #71778E;
                        }
                    }
                }
            }

            .gif {
                img {
                    width: 100%;
                }
            }
        }

    }

    .section_right {
        .section_right_top {
            border-radius: 10px;
            margin-bottom: 40px;
            background-color: #F7F8FD;

            .section_right_top_desktop {
                margin: 0 20px;

                .filter_right {
                    i {
                        margin-left: 20px;
                        font-size: 20px;
                        opacity: 0.5;
                        cursor: pointer;

                        &:hover {
                            opacity: 1;
                        }
                    }
                }

                .filter_text {
                    span {
                        margin-right: 20px;

                        i {
                            margin-left: 5px;
                            font-size: 10px;
                        }
                    }

                    .sort {
                        border-right: 1px solid #71778e5e;

                        i {
                            margin-right: 20px;
                        }
                    }
                }
            }
            .section_right_top_mobile{
                
                .filter_mob_right{
                    font-size: 13px;
                    span{
                        margin-left: 7px;
                    }
                }
                .filter_mob_text{
                    font-size: 12px;
                    margin-right: 10px;
                }
            }
        }

        .section_right_product {
            .row {
                .right_product_box {
                    border: 1px solid #3e445a63;
                    border-radius: 5px;
                    overflow: hidden;
                    height: 400px;
                    position: relative;
                    transition: 0.3s;

                    .product_main {
                        .view_img {
                            position: relative;

                            .view_percent,
                            .view_comment {
                                padding: 4px 8px;
                                background-color: #2BBEF9;
                                font-size: 13px;
                                border-radius: 5px;
                                color: #fff;
                                position: absolute;
                                left: 20px;
                            }

                            .view_comment {
                                padding: 4px 8px;
                                background-color: #71778E;
                                font-size: 10px;
                                border-radius: 5px;
                                color: #fff;
                                position: absolute;
                                top: 50px;
                                left: 20px;
                            }

                            .view_organic {
                                padding: 4px 8px;
                                background-color: #e5f8ed;
                                font-size: 10px;
                                border-radius: 5px;
                                color: #038e42;
                                position: absolute;
                                top: 50px;
                                left: 20px;
                            }

                            padding: 20px;

                            img {
                                width: 100%;
                            }
                        }

                        .view_bottom {
                            padding: 0 10px 10px;

                            .view_price {
                                .price_old {
                                    color: #c2c2d3;
                                    font-size: 16px;
                                }

                                .price_new {
                                    color: #d51243;
                                    font-size: 18px;
                                }

                                margin-bottom: 10px;
                            }

                            h3 {
                                margin-top: 10px;
                                font-size: 14px;
                                font-weight: bold;

                                a {
                                    color: #202435;
                                }
                            }

                            .last_box {
                                margin-bottom: 20px;
                            }

                            .view_details {
                                font-size: 11px;
                                margin-bottom: 10px;

                                .stock {
                                    color: #00b853;
                                }
                            }

                            .view_raiting {
                                margin-bottom: 15px;
                                color: #71778e;

                                i {
                                    font-size: 10px;
                                    color: rgb(255, 221, 0);
                                }

                                .noactive {
                                    color: #d9d9e9;
                                }

                                .raiting {
                                    font-size: 11.72px;
                                    margin-left: 3px;

                                }
                            }
                        }

                    }

                    .view_product_position {
                        width: 100%;
                        position: absolute;
                        text-align: center;
                        bottom: -40%;
                        left: 50%;
                        transform: translateX(-50%);

                        span {
                            width: 100%;
                            padding: 8px 60px;
                            background-color: #233a95;
                            color: #fff;
                            border-radius: 30px;
                        }

                        .spanwidth {
                            padding: 8px 50px;
                        }

                    }
                    .view_product_maximize{
                        position: absolute;
                        top: 0;
                        right: -40px;
                        ul{
                            li{
                                border: 1px solid #fff;
                                background-color: #fff;
                                border-radius: 50%;
                                margin: 5px 0;
                                a{
                                    i{
                                        font-size: 20px;
                                        padding: 10px;
                                        color: #202435;
                                    }
                                }
                                &:hover{
                                    background-color: #233A95;
                                    border-color: #233A95;
                                    transition: 0.3s;
                                    a{
                                        i{
                                            color: #fff;
                                        }
                                    }
                                }
                            }
                        }
                    }
            

                    &:hover {
                        .view_product_position {
                            bottom: 5%;
                            transition: 0.3s;
                        }
                        .view_product_maximize{
                            right: 15px;
                            transition: 0.3s;
                        }

                    }
                }
            }
        }

        .section_right_pages {
            margin-top: 20px;

            overflow: hidden;

            ul {

                li {

                    padding: 5px 13px;
                    margin: 0 5px;

                    a {

                        color: #000;
                        font-weight: bold;
                    }

                    &:hover {
                        border: 1px solid #c7c8c986;
                        background-color: #c7c8c986;
                        border-radius: 50%;
                    }
                }

                .first_li {
                    border: 1px solid #2BBEF9;
                    background-color: #2BBEF9;
                    border-radius: 50%;

                    a {
                        color: #fff;
                    }
                }
            }
        }
    }
}

.shop_mobile {
    position: relative;
    padding: 0 15px;

    .mobile_text {
        top: 0px;
        left: 20px;
        position: absolute;
        padding: 1.875rem;

        .text_top,
        .text_center {
            width: 60%;

            h4 {
                font-size: 24px;
            }

            h3 {
                font-weight: bold;
                font-size: 30px;

                .color-success {
                    color: #00b853;
                }
            }
        }

        .text_bottom {
            font-size: 12px;
            color: #9b9bb4;
        }
    }

    .mobile_img {
        img {
            width: 100%;
            height: 230px;
            object-fit: cover;
        }
    }
}